/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  /* Colors */
  --primary: #f9f9f9;
  --secondary: #8d0606;
  --tertiary: #e5e5e5;
  --dark_grey: #363636;
  --light_grey: #808080;
  --soft_beige: #dcc8b4;
  /* --soft_almond: #eed9c4; */

  /* Fonts */
  --main-font: "Pacifico", cursive;
  --primary-font: "Source Sans 3", sans-serif;
  --secondary-font: "Exo 2", sans-serif;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--arena-clara);
  color: var(--tierra-oscura);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* =============== Navbar =============== */

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--soft_beige);
  line-height: 0;
  height: 4rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__brand {
  content: "";
}

.header__brand--logo {
  height: 50px;
  object-fit: contain;
}

.header__nav {
  content: "";
}

.header__nav-list {
  display: flex;
  padding-right: 3rem;
  gap: 4rem;
}

@media (max-width: 768px) {
  .header__nav-list {
    display: none;
  }
}

.header__menu-button {
  color: var(--secondary);
  letter-spacing: -5px;
  font-weight: 500;
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__nav-item {
  content: "";
}

.header__nav-link {
  padding: 0.7rem 1.5rem;
  color: var(--secondary);
  font-family: var(--secondary-font);
  font-weight: 600;
  transition: color 0.2s ease;
}

.header__nav-link:hover {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  opacity: 0.75;
}

/* =============== Hero section =============== */

.hero__content {
  position: relative;
  height: calc(100dvh - 4rem);
  background-image:
    linear-gradient(115deg, rgba(190, 136, 206, 0.4)), url(./assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero__title {
  color: var(--primary);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 4.35rem;
  padding-bottom: 9rem;
  text-shadow: 0 24px 24px rgba(53, 53, 53, 0.75);
}

.hero__button {
  display: inline-block;
  background-color: var(--secondary);
  color: var(--soft_beige);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: fit-content;
  opacity: 0.75;
}

.hero__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--soft_beige);
  color: var(--secondary);
  border: 1.5px solid;
  border-color: var(--secondary);
}

.hero__description {
  background-color: var(--secondary);
  text-align: center;
  padding: 5.5rem;
  font-size: 1.55rem;
}

.hero__description--subtitle {
  color: var(--tertiary);
  margin-bottom: 2rem;
}

.hero__description p {
  color: var(--soft_beige);
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 768px) {
  .hero__description {
    padding: 5.5rem 2rem;
  }
}

/* =============== About section =============== */

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh - 4rem);
  background-color: var(--primary);
}

.about__header {
  margin-top: 40px;
  text-align: center;
}

.about__title {
  color: var(--secondary);
  font-family: var(--main-font);
  font-size: 2.5rem;
}

.about__description {
  color: var(--dark_grey);
  font-size: 1.5rem;
}

.about__body {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
  padding: 0 4.5rem;
  height: 75%;
}

@media (max-width: 768px) {
  .about__header {
    padding: 0 1.5rem 2.5rem;
  }

  .about__content {
    height: 100%;
  }

  .about__body {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .about__person-image {
    height: 180px;
    width: 180px;
  }
}

.about__person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__person-image {
  border-radius: 50%;
  height: 240px;
  width: 240px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: fit-content;
}

.about__person-image:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.about__person-name {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--secondary);
  font-family: var(--main-font);
}

.about__person-rol {
  font-family: var(--secondary-font);
  color: var(--dark_grey);
}

/* =============== Recipes section =============== */

.recipes__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--tertiary);
}

.recipes__header {
  margin-top: 40px;
  text-align: center;
}

.recipes__title {
  color: var(--secondary);
  font-family: var(--main-font);
  font-size: 2.5rem;
}

.recipes__body {
  display: grid;
  gap: 3.5rem;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  justify-content: center;
  width: 90%;
  padding: 3.5rem;
}

.recipe__card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  height: 440px;
  max-width: 380px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.recipe__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.recipe__card-image {
  border-radius: 10px 10px 0 0;
  object-fit: contain;
}

.recipe__card-item {
  padding: 2rem;
}

.recipe__card-title {
  color: var(--secondary);
  font-size: 1.3rem;
  font-family: var(--secondary-font);
  padding-bottom: 0.5rem;
}
.recipe__card-description {
  padding-bottom: 1.5rem;
  color: var(--dark_grey);
}
.recipe__card-button {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--soft_beige);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: fit-content;
  display: inline-block;
  opacity: 0.75;
}

.recipe__card-button:hover {
  transform: translateY(3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: var(--primary);
}

@media (min-width: 480px) and (max-width: 980px) {
  .recipes__body {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }
}

@media (max-width: 479px) {
  .recipes__body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 3rem;
  }

  .recipe__card {
    height: 440px;
  }
}

/* =============== Contact section =============== */

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh - 4rem);
  background-color: var(--tertiary);
}

.contact__header {
  margin-top: 40px;
  text-align: center;
}

.contact__title {
  color: var(--secondary);
  font-family: var(--main-font);
  font-size: 2.5rem;
}

.contact__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 1.5rem;
  width: 380px;
  display: flex;
  gap: 1rem;
}

.form-group__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  color: var(--dark_grey);
}

.form-group__textarea {
  min-height: 100px;
  resize: vertical;
}

.form-group__input,
.form-group__textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid var(--arena-clara);
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group__input:focus,
.form-group__textarea:focus {
  outline: none;
  border-color: var(--beige-crema);
}

.button--submit {
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.8rem;
  margin-top: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: fit-content;
  display: inline-block;
  opacity: 0.75;
}

.button--submit:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--soft_beige);
  color: var(--secondary);
  border: 1.5px solid;
  border-color: var(--secondary);
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

@media (max-width: 768px) {
  .form-group {
    padding: 0 1rem;
    display: block;
  }
}

/* =============== Footer section =============== */

.main-font {
  font-family: var(--main-font);
  color: var(--secondary);
  font-size: 1.5rem;
}

.footer {
  background-color: var(--soft_beige);
  color: var(--dark_grey);
  padding: 2rem;
  text-align: center;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.footer__text {
  font-size: 1.2rem;
  opacity: 0.8;
}

/* .footer__social {
  display: flex;
  gap: 1.7rem;
}

.footer__social-link {
  display: flex;
  align-items: last baseline;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--ocre-arenoso);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.footer__social-link:hover {
  background-color: var(--beige-crema);
} */
