/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  /* Colors */
  --primary: #f9f9f9;
  --secondary: #8d0606;
  --tertiary: #e5e5e5;
  --dark_grey: #363636;
  --light_grey: #808080;
  --soft_beige: #dcc8b4;
  /* --soft_almond: #eed9c4; */

  /* Fonts */
  --main-font: "Pacifico", cursive;
  --primary-font: "Source Sans 3", sans-serif;
  --secondary-font: "Exo 2", sans-serif;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--arena-clara);
  color: var(--tierra-oscura);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* =============== Navbar =============== */

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--soft_beige);
  line-height: 0;
  height: 4rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__brand {
  content: "";
}

.header__brand--logo {
  height: 50px;
}

.header__nav {
  content: "";
}

.header__nav-list {
  display: flex;
  padding-right: 3rem;
  gap: 4rem;
}

@media (max-width: 768px) {
  .header__nav-list {
    display: none;
  }
}

.header__menu-button {
  color: var(--secondary);
  letter-spacing: -5px;
  font-weight: 500;
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__nav-item {
  content: "";
}

.header__nav-link {
  color: var(--secondary);
  font-family: var(--secondary-font);
  transition: color 0.3s ease;
}

.header__nav-link--active {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 16px;
}

/* =============== Hero section =============== */

.hero__content {
  height: calc(100dvh - 4rem);
  background-image:
    linear-gradient(115deg, rgba(190, 136, 206, 0.4)), url(./assets/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero__title {
  color: var(--primary);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 4.35rem;
  text-shadow: 0 24px 24px rgba(53, 53, 53, 0.75);
}

.hero__button {
  display: inline-block;
  background-color: var(--secondary);
  color: var(--soft_beige);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: fit-content;
}

.hero__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero__description {
  background-color: var(--secondary);
  text-align: center;
  padding: 5.5rem;
  font-size: 1.55rem;
}

.hero__description--subtitle {
  color: var(--tertiary);
  margin-bottom: 2rem;
}

.hero__description p {
  color: var(--soft_beige);
  font-style: italic;
  font-weight: 400;
}

/* =============== About section =============== */

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh - 4rem);
  background-color: var(--tertiary);
}

.about__header {
  margin-top: 40px;
  text-align: center;
}

.about__title {
  color: var(--secondary);
  font-family: var(--main-font);
  font-size: 2.5rem;
}

.about__description {
  color: var(--dark_grey);
  font-size: 1.5rem;
}

.about__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
  padding: 0 4.5rem;
  height: 75%;
}

.about__person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__person-image {
  border-radius: 50%;
  height: 240px;
  width: 240px;
}

.about__person-name {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--secondary);
  font-family: var(--main-font);
}

.about__person-rol {
  font-family: var(--secondary-font);
  color: var(--dark_grey);
}

/* @media (max-width: 768px) {
  display: none;
} */

/* &:hover {
  color: darken($color: white, $amount: 40);
  font-weight: bold;
} */

/* @media (max-width: 768px) {
  justify-content: center;
  padding: 0 1rem;
} */

/* @media (max-width: 768px) {
  font-size: 2.125rem;
  padding: 0.5rem;
} */

/* @media (max-width: 768px) {
  font-size: 3.125rem;
} */

/* .hero__image {
  width: 100%;

  @media (max-width: 768px) {
    height: 100vh;
    object-fit: cover;
  }
} */
